# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# manual and local test files
mytest.py

# local logging and stuff
output.txt

# VS Code
.vscode/
*.code-workspace

# build
*.egg-info/
build/
src/py_gearworks/_version.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
